<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="/assets/css/bootstrap-2.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> 

<script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.0/jQuery.print.js"></script>

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper " >

    

        <div class="row hideWhilePrint" id="tempDiv">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Welcome Admin</h3>
                        <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span
                                class="text-primary">3 unread alerts!</span></h6>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="justify-content-end d-flex">
                            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button"
                                    id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                    <a class="dropdown-item" href="#">January - March</a>
                                    <a class="dropdown-item" href="#">March - June</a>
                                    <a class="dropdown-item" href="#">June - August</a>
                                    <a class="dropdown-item" href="#">August - November</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row  hideWhilePrint" id="tempDiv2">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card tale-bg">
                    <div class="card-people mt-auto">
                        <img src="images/dashboard/people.svg" alt="people">
                        <div class="weather-info">
                            <div class="d-flex">
                                <div>
                                    <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                                </div>
                                <div class="ml-2">
                                    <h4 class="location font-weight-normal">Bangalore</h4>
                                    <h6 class="font-weight-normal">India</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
                <div class="row">
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-tale">
                            <div class="card-body">
                                <p class="mb-4">Total users</p>
                                <p class="fs-30 mb-2 d-inline"><%= totalUsers  %></p> users
                                <!-- <p>10.00% (30 days)</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 stretch-card transparent">
                        <div class="card card-dark-blue">
                            <div class="card-body">
                                <p class="mb-4">Total Orders</p>
                                <p class="fs-30 mb-2 d-inline"><%= ordersCount %></p> orders
                                <!-- <p>22.00% (30 days)</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                        <div class="card card-light-blue">
                            <div class="card-body">
                                <p class="mb-4">Total Products</p>
                                <p class="fs-30 mb-2 d-inline"><%= productsCount %></p> products
                                <!-- <p>2.00% (30 days)</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card transparent">
                        <div class="card card-light-danger">
                            <div class="card-body">
                                <p class="mb-4">Total Delivered orders</p>
                                <p class="fs-30 mb-2 d-inline"><%= deliveredCount  %> </p> orders
                                <!-- <p>0.22% (30 days)</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end p-3">
            <button type="button" class="btn btn-info" onclick="printDiv()">PRINT</button>
        </div>
        <div class="container" id="graphsDiv">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Daily Report</p>
                            <p class="font-weight-500">This graphs picturize the orders done by your websites in last 24
                                hours.</p>
                            <canvas id="daily"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="card-title">Weekly Report</p>
                                <a href="#" class="text-info">View all</a>
                            </div>
                            <p class="font-weight-500">This graphs picturize the orders done by your websites weeks</p>
                            <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                            <canvas id="weekly" style="width: 50%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Yearly Report</p>
                            <p class="font-weight-500">This graphs picturize the orders done by your websites in last 24
                                hours.</p>
                            <canvas id="yearly"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="card-title">Overall Report</p>
                                <a href="#" class="text-info">View all</a>
                            </div>
                            <p class="font-weight-500">This graphs picturize the orders done by your websites overall</p>
                            <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                            <canvas id="total"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- <div class="container-fluid">
            <div class="row mt-5 ml-5 mr-5">
                <div class="col" style=" border-radius: 20px; border: solid 3px rgba(255, 26, 104, 1); height: 20rem;">
                    <canvas id="bar-chart" class="pt-4"></canvas>
                </div>
            </div>
            <div class="row mt-5 ml-5 mr-5">
                <div class="col" style=" border-radius: 20px; border: solid 3px rgba(255, 26, 104, 1); height: 20rem;">
                    <canvas id="circle-chart" class="pt-4"></canvas><canvas id="finalchart"></canvas>
                </div>
            </div>
        </div> -->




    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // DAILY 
    var data = {
        labels: ['Today'],
        datasets: [{
            label: 'Daily Sales',
            data: ['<%= revenueDaily %>'],
            backgroundColor: [
                'rgba(13, 193, 67, 0.5)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 256, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(0, 0, 0, 0.2)'
            ],
            borderColor: [
                'rgba(7, 116, 40, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    };

    // config 
    var config = {
        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // render init block
    var myChart = new Chart(
        document.getElementById('daily'),
        config
    );

    //WEEKLY
    var data = {
        labels: [1, 2, 3, 4, 5, 6, 7,],
        datasets: [{
            label: 'Weekly Sales',
            data: ["<%= revenueWeekly %>"],
            backgroundColor: [
                'rgba(112, 111, 186, 0.6)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(0, 0, 0, 0.2)'
            ],
            borderColor: [
                'rgba(65, 65, 109, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    };

    // config 
    var config = {
        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // render init block
    var myChart = new Chart(
        document.getElementById('weekly'),
        config
    );

    //YEARLY
    var data = {
        labels: [new Date().getFullYear()],
        datasets: [{
            label: 'Yearly Sales',
            data: ["<%= revenueYearly %>"],
            backgroundColor: [
                'rgba(108, 99, 255, 0.7)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(0, 0, 0, 0.2)'
            ],
            borderColor: [
                'rgba(42, 39, 101, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    };

    // config 
    var config = {
        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // render init block
    var myChart = new Chart(
        document.getElementById('yearly'),
        config
    );

    //TOTAL REVENUE
    var data = {
        labels: ['Total Revenue'],
        datasets: [{
            label: 'Total Revenue',
            data: ['<%= revenueTotal %>'],
            backgroundColor: [
                'rgba(245, 144, 149, 0.6)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(0, 0, 0, 0.2)'
            ],
            borderColor: [
                'rgba(91, 53, 55, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    };

    // config 
    var config = {
        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // render init block
    var myChart = new Chart(
        document.getElementById('total'),
        config
    );



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<script>

    let monthName = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    let monthlyProfit = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    let weekly = [0, 0, 0, 0, 0, 0, 0]
    let weekName = ["Monday", "Tuesday", "WednesDay", "Thursday", "Friday", "Saturday", "Sunday"]
    let paymethod = ["Paypal", "Razorpay", "Cash on Delivery"]
    let payamount = [0, 0, 0]
    let barChart = document.getElementById("bar-chart").getContext('2d')
    let circleChart = document.getElementById("circle-chart").getContext('2d')
    let finalchart = document.getElementById("finalchart").getContext('2d')
    document.addEventListener('DOMContentLoaded', () => {
        console.log("haiii")
        fetch('/admin/chart-data',
            {
                method: 'get',
                credentials: 'include',
                headers: { 'Content-Type': 'application/json' }
            }).then(res => res.json()).then(res => {
                let { data, weeklyReport } = res;
                for (i = 0; i < data.length; ++i) {
                    switch (data[i].month) {
                        case 1:
                            monthlyProfit[0] = data[i].total
                            break;
                        case 2:
                            monthlyProfit[1] = data[i].total
                            break;
                        case 3:
                            monthlyProfit[2] = data[i].total
                            break;
                        case 4:
                            monthlyProfit[3] = data[i].total
                            break;
                        case 5:
                            monthlyProfit[4] = data[i].total
                            break;
                        case 6:
                            monthlyProfit[5] = data[i].total
                            break;
                        case 7:
                            monthlyProfit[6] = data[i].total
                            break;
                        case 8:
                            monthlyProfit[7] = data[i].total
                            break;
                        case 9:
                            monthlyProfit[8] = data[i].total
                            break;
                        case 10:
                            monthlyProfit[9] = data[i].total
                            break;
                        case 11:
                            monthlyProfit[10] = data[i].total
                            break;
                        case 12:
                            monthlyProfit[11] = data[i].total
                            break;
                    }
                }
                console.log(monthlyProfit)
                console.log(weeklyReport)
                const months = monthName;
                const data1 = {
                    labels: months,
                    datasets: [{
                        label: 'Monthly sales',
                        backgroundColor: "red",
                        borderColor: 'rgb(255, 99, 132)',
                        data: monthlyProfit,
                    }]
                };
                const monthlyconfig = {
                    type: 'bar',
                    data: data1,
                    options: {}
                };
                let chart1 = new Chart(barChart, monthlyconfig)


                for (i = 0; i < weeklyReport.length; ++i) {
                    switch (weeklyReport[i].date) {
                        case 1:
                            weekly[0] = weeklyReport[i].total
                            break;
                        case 2:
                            weekly[1] = weeklyReport[i].total
                            break;
                        case 3:
                            weekly[2] = weeklyReport[i].total
                            break;
                        case 4:
                            weekly[3] = weeklyReport[i].total
                            break;
                        case 5:
                            weekly[4] = weeklyReport[i].total
                            break;
                        case 6:
                            weekly[5] = weeklyReport[i].total
                            break;
                        case 7: weekly[6] = weeklyReport[i].total
                            break;

                    }
                }

                //weekly sales
                const labels = weekName;
                const data2 = {
                    labels: labels,
                    datasets: [{
                        label: 'Weekly sales',
                        backgroundColor: 'red',
                        borderColor: 'red',
                        data: weekly,
                    }]
                };
                const config = {
                    type: 'bar',
                    data: data2,
                    options: {}
                };
                let chart2 = new Chart(circleChart, config)



                //         {
                //             {
                //                 !-- 
                // for (i = 0; i < weeklyReport.length; ++i) {
                //                     switch (weeklyReport[i].method) {
                //                         case 1:
                //                             payamount[0] = weeklyReport[i].total
                //                             break;
                //                         case 2:
                //                             payamount[1] = weeklyReport[i].total
                //                             break;
                //                         case 3:
                //                             payamount[2] = weeklyReport[i].total
                //                             break;
                //                     }
                //                 }
                //                 const paymentmethod = paymethod;
                //                 const data3 = {
                //                     labels: paymentmethod,
                //                     datasets: [{
                //                         label: 'Payment Methods',
                //                         backgroundColor: "green",
                //                         borderColor: 'rgb(255, 99, 132)',
                //                         data: payamount,
                //                     }]
                //                 };
                //                 const config = {
                //                     type: 'line',
                //                     data: data3,
                //                     options: {}
                //                 };
                //                 let chart3 = new Chart(finalchart, config)--
                //             }
                //         }
            })
    })


</script>





<!-- Print Graphs -->
<script>
    function printDiv() {
        
        var collection = document.getElementsByClassName("hideWhilePrint");
            for (let i = 0; i < collection.length; i++) {
                collection[i].classList.add('d-none');
            }

        window.print();
        
        for (let i = 0; i < collection.length; i++) {
            collection[i].classList.remove('d-none');
        }
    }
</script>