<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css"
  integrity="sha512-+VDbDxc9zesADd49pfvz7CgsOl2xREI/7gnzcdyA9XjuTxLXrdpuz21VVIqc5HPfZji2CypSbxx1lgD7BgBK5g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row d-flex justify-content-center ">
      <div class="col-11  grid-margin stretch-card">
        <div class="card shadow mt-5">
          <div class="card-body p-5">
            <h3 class="scard-title">Edit Banner</h3>
            <p class="card-description">
              Update banner by providing proper details.
            </p>
            <form class="forms-sample" enctype="multipart/form-data" method="post" action="edit-banner">

              <% if(locals.error){ %>
                <div class="alert alert-danger border-0" role="alert">
                  <%= msg %>
                </div>
                <% } %>
                  <div class="form-group">

                    <input type="text" name="bannerId" value="<%= banner._id %>" hidden>



                    <label for="exampleInputName1">Banner main title</label>
                    <input type="text" onkeyup="title1()" value="<%= banner.title1 %>" name="title1" id="title1" class="form-control" id="exampleInputName1" placeholder="Main title" required>
                    <span id="title1error"></span>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Banner sub title</label>
                    <input type="text" name="title2" id="title2" value="<%= banner.title2 %>" class="form-control" id="exampleInputName1" placeholder="Sub title" required>
                    <span id="title2error"></span>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">URL</label>
                    <input type="text" onkeyup="urlValidate()" name="url" value="<%= banner.url %>" id="url" class="form-control" id="exampleInputName1" placeholder="URL" required>
                    <span id="urlerror"></span>
                  </div>

                  <div class="form-group">
                    <div class="col-3 d-flex flex-column ">
                        <label for="oldimage" style="width: fit-content !important">Current Image</label>
                        <img src="/uploads/banner/<%= banner.image %>" style="width: 100px" height="100px" alt="">
                    </div>
                    <label for="image">Upload Image</label>
                    <input type="file" name="image" id="id_image1"  class="form-control-file" >
                  </div>
                  <img src="/assets/product-images/{{this._id}}.jpg" alt="" style="max-width:100px; max-height:100px" id="view">



                  <!-- crop -->
                  <div class="container w-25" >
                    <div id="crop">
                      <div class="vald-info" id="info"></div>
                      <h5 class="error_form text-danger" id="image1_error_message"></h5>
                      <div class="row">
                        <div  id="image-box1" class="col-12 image-container clr">
                        </div>
                        <button type="button" class="col-12 mt-5 pl-3 btn btneds bg-success" id="crop-btn1" style="color: rgb(255, 255, 255);
                           background-color: rgb(12, 12, 0);
                           border-radius: 10px; margin-top: 10px;
                            display: none; width: 10%;
                             margin: 0rem 0rem 0rem 0rem;">crop</button>
                      </div>
                    </div>
                  </div>



                  <div class="form-group d-flex justify-content-end">
                    <button type="submit" onclick="this.value='adding to banner';addBanner()" class="btn btn-primary mr-2">Update Banner</button>
                    <button class="btn btn-light" type="button">Cancel</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Toggle offer -->
<!-- <script>
  function addBanner(){
    $.ajax({
                url:'add-banners',
                data:   $('#checkout-form').serialize(),
                method: 'POST',
                success:(response)=>{
                    if(response.success){

                        setInterval(location.reload(),5000)
                        Swal.fire(
                            'Good job!',
                            'The stock is updated successfully!',
                            'success'
                        )
                        // addressShow()

                    }   
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                }
        })
    }
</script> -->


<script>
  function viewimage(event) {
    document.getElementById('view').src = URL.createObjectURL(event.target.files[0])
  }

  /////////////for image1///////////////////

  const imagebox1 = document.getElementById("image-box1");
  const crop_btn1 = document.getElementById("crop-btn1");
  const input1 = document.getElementById("id_image1");

  // When user uploads the image this event will get triggered
  input1.addEventListener("change", () => {
    // Getting image file object from the input variable
    const img_data1 = input1.files[0];
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url1 = URL.createObjectURL(img_data1);
    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox1.innerHTML = `<img src="${url1}" id="image1" style="width:100%;">`;
    // Storing that cropping view image in a variable
    const image1 = document.getElementById("image1");
    // Displaying the image box
    document.getElementById("image-box1").style.display = "block";
    // Displaying the Crop buttton
    document.getElementById("crop-btn1").style.display = "block";
    // Hiding the Post button
    document.getElementById("view").style.display = "block";
    const cropper1 = new Cropper(image1, {
      autoCropArea: 1,
      viewMode: 1,
      scalable: false,
      zoomable: false,
      movable: false,
      minCropBoxWidth: 50,
      minCropBoxHeight: 50,
    });
    // When crop button is clicked this event will get triggered
    crop_btn1.addEventListener("click", () => {
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper1.getCroppedCanvas().toBlob((blob) => {
        // Gets the original image data
        let fileInputElement1 = document.getElementById("id_image1");
        // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
        let file1 = new File([blob], img_data1.name, {
          type: "image/*",
          lastModified: new Date().getTime(),
        });
        // Create a new container
        let container1 = new DataTransfer();
        // Add the cropped image file to the container
        container1.items.add(file1);
        // Replace the original image file with the new cropped image file
        fileInputElement1.files = container1.files;
        document.getElementById("view").src = URL.createObjectURL(
          fileInputElement1.files[0]
        );
        // Hide the cropper box
        document.getElementById("image-box1").style.display = "none";
        // Hide the crop button
        document.getElementById("crop-btn1").style.display = "none";

      });
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"
  integrity="sha512-ZK6m9vADamSl5fxBPtXw6ho6A4TuX89HUbcfvxa2v2NYNT/7l8yFGJ3JlXyMN4hlNbz0il4k6DvqbIW5CCwqkw=="
  crossorigin="anonymous" referrerpolicy="no-referrer">
</script>


<script>
  function urlValidate(){
    document.getElementById('url').value =document.getElementById('url').value.replaceAll(" ", "") 
    return true
  }

  function addBanner(){
    // alert('he')
    return false
  }
</script>