

<% if(product){ %>
	<!-- Product Detail -->
	<div class="mt-5 pt-5">
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
	
							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="/uploads/products/<%= product.img1 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/products/<%= product.img1 %>" alt="IMG-PRODUCT" class="zoom">
	
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="/uploads/products/<%= product.img1 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
	
								<div class="item-slick3" data-thumb="/uploads/products/<%= product.img2 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/products/<%= product.img2 %>" alt="IMG-PRODUCT" class="zoom">
	
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="/uploads/products/<%= product.img2 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
	
								<div class="item-slick3" data-thumb="/uploads/products/<%= product.img3 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/products/<%= product.img3 %>" alt="IMG-PRODUCT" class="zoom">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="/uploads/products/<%= product.img3 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								<div class="item-slick3" data-thumb="/uploads/products/<%= product.img4 %>">
									<div class="wrap-pic-w pos-relative">
										<img src="/uploads/products/<%= product.img4 %>" alt="IMG-PRODUCT" class="zoom">
	
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="/uploads/products/<%= product.img4 %>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%= product.title %>
						</h4>
	
						
						<!-- <% //if(product.productOfferActive){ %> 
						
							<span class="mtext-106 cl2 d-flex justify-content-between w-100 px-4 Tbg-dark">
								<%// let discount =  product.productOffer.offerPercentage %>
								₹<%= //(product.price) - (product.price/100)*discount  %> 
							<span class="mtext-106 cl2 cl3">
								₹<strike><%=// product.price %></strike>
								<b class="text-success"> <%=// discount %>% off</b>
							</span>
							</span>
						<%// }else{ %>  
							<span class="mtext-106 cl2 px-4">
								₹<%=// product.price %>
							</span>
						<%// } %>  -->

						<% if(product.productOfferActive && product.categoryOfferActive){ %> 

							<span class="mtext-106 cl2 d-flex justify-content-between w-100 px-4 Tbg-dark">
								<% if(product.productOffer.offerPercentage > product.categoryOffer.discount ){ %> 
									<% var discount =  product.productOffer.offerPercentage %>
									<% }else{ %> 
										<% var discount =  product.categoryOffer.discount %>
								<% } %> 	
								₹<%= (product.price) - (product.price/100)*discount  %> 

								<span class="mtext-106 cl2 cl3">
									₹<strike><%= product.price %></strike>
									<b class="text-success"> <%= discount %>% off</b>
								</span>
							</span>
						<% }else if(product.productOfferActive){ %>  
							<span class="mtext-106 cl2 d-flex justify-content-between w-100 px-4 Tbg-dark">
								<% let discount =  product.productOffer.offerPercentage %>
								₹<%= (product.price) - (product.price/100)*discount  %> 
							<span class="mtext-106 cl2 cl3">
								₹<strike><%= product.price %></strike>
								<b class="text-success"> <%= discount %>% off</b>
							</span>
							</span>
						<% }else if(product.categoryOfferActive){ %> 
							<span class="mtext-106 cl2 d-flex justify-content-between w-100 px-4 Tbg-dark">
								<% let discount =  product.categoryOffer.discount %>
								₹<%= (product.price) - (product.price/100)*discount  %> 
							<span class="mtext-106 cl2 cl3">
								₹<strike><%= product.price %></strike>
								<b class="text-success"> <%= discount %>% off</b>
							</span>
							</span>
							<% }else{ %>  
								<span class="mtext-106 cl2 px-4">
									₹<%= product.price %>
								</span>
							<% } %> 
	




						<p class="stext-102 cl3 p-t-23">
							<%= product.description %>
						</p>
	
						<!--  -->
						<div class="p-t-33">
							<!-- <div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Size
								</div>
								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option>Size S</option>
											<option>Size M</option>
											<option>Size L</option>
											<option>Size XL</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div> -->
	
							<!-- <div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									Color
								</div>
	
								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option>Red</option>
											<option>Blue</option>
											<option>White</option>
											<option>Grey</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div> -->
	
							<% if ( loggedIn ) { %>
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<form action="/addToCart" method="post">
										<input type="text" name="pid" class="d-none" value="<%= product._id %>" >

										<!-- <button onclick="addToWishlist('<%= product._id %>')" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-wishlist-detail">Add to Wishlist</button> -->

										<% if(addedToCart){ %>
											<a href="/cart">
												<button type="button"  class="btn btn-dark  rounded me-box-shadow btn-lg">GO TO CART</button>
											</a>
											<% }else{ %> 
												<div class="wrap-num-product flex-w m-r-20 m-tb-10">
													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>
													
													<input class="mtext-104 cl3 txt-center num-product" id="quantity" type="number" name="num_product"
													value="1">
													
													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>
												</div>
												<button onclick="addToCart('<%= product._id %>')" class="flex-c-m  stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">Add to cart</button>
												<!-- <button id="btnOK" class="btn btn-success">OK</button> -->
												
												<% } %> 
											</div>
										</form>
									</div>
									<% } else{%> 
										<a href="/login">
											<button  class="flex-c-m  stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">Add to cart</button>
										</a>
						<%	} %> 
						</div>


						
<% } %>


						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</section>
	</div>
	

	<script>
		function addToCart(proId){
			Swal.fire(
			'Good job!',
			'Product added to the cart!',
			'success'
			)
		}
	</script>